todo.symlink/*.txt
berkshelf.symlink/*
!berkshelf.symlink/config.json
vim.symlink/_backup/
vim.symlink/_temp/
global/dot.berkshelf.symlink/cookbooks/
global/dot.vim.symlink/_temp/
global/dot.vim.symlink/_backup/
global/dot.todo.symlink/*.txt
global/dot.vim.symlink/.netrwhist
global/dot.berkshelf.symlink/.cache/
*.bak
